<footer class="text-white pt-4 pb-2 px-3 mt-5">

    <div class="row align-items-center">

        <div id="logo" class="col-lg-3 col-sm-12 text-center">
            LOGO
        </div>


        <div id="links-footer" class="col-lg-3 col-sm-12">
            <p>Plan du site</p>
            <ul id="footer-links" class="d-block text-start">
                <li class="li-footer my-2">LIEN 1</li>
                <li class="li-footer my-2"> LIEN 2</li>
                <li class="li-footer my-2">LIEN 3</li>
                <li class="li-footer my-2">LIEN 4</li>
            </ul>
        </div>

        <div id="links-footer" class="col-lg-3 col-sm-12">
            <p>Retrouvez-nous sur</p>
            <ul id="footer-links" class="d-block">
                <li class="li-footer my-2">LIEN 1</li>
                <li class="li-footer my-2"> LIEN 2</li>
                <li class="li-footer my-2">LIEN 3</li>
                <li class="li-footer my-2">LIEN 4</li>
            </ul>
        </div>


        <div id="logo" class="col-lg-3 col-sm-12 text-center">
            LOGO
        </div>

    </div>


</footer>
