{% extends 'base.html.twig' %}

{% block title %}Edit Livres{% endblock %}

{% block body %}
    <h1>Edit Livres</h1>

    {{ include('livres/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-light mt-2" href="{{ path('app_livres_index') }}">back to list</a>

    {{ include('livres/_delete_form.html.twig') }}
{% endblock %}
